.outerContainer{
    padding: calc(30% - 25px) 10px;
    scroll-snap-align: center;
}

.sloganText{
    font-size: 45pt;
}

.boxedGroup{
  box-shadow: inset 0px 0px 21px -14px black;
}

.pad_10 > * {
    padding: 10px;
  }

.pad_5 > * {
    padding: 5px;
}

.pad_5_top > *:first-child{
    padding: 5px;
}

.mar_10 > * {
    margin: 10px;
}

.mar_0w_10h {
    margin: 10px 0px;
}

.mar_rm_0w_10h_g1 > *:not(:first-child){
    margin: 0px 10px;
}

.contentFontSize{
    font-size: 16pt;
}